
  <div class="header">
  <mat-toolbar color="primary">
    <button mat-icon-button class="movie-icon" routerLink="/" aria-label="Movie icon-button with menu icon">
      <mat-icon routerLink="/">menu</mat-icon>
    </button>
    <span routerLink="/">Movie App</span>
    <span class="movie-spacer"></span>
  </mat-toolbar>
</div>
<div class="container">
<div class="searchbox" *ngIf="ishomepage">
  <form class="movie-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-form-field class="movie-full-width" appearance="fill">
      <mat-label>Search Movies</mat-label>
      <input type="text"
             placeholder="Enter Movie for search"
             aria-label="movie name"
             matInput
             formControlName="searchinput"
             >
    </mat-form-field>
    <button mat-raised-button color="primary">Search Movies</button>
  </form>
  </div>
  <div class="searchcontent">
                  <router-outlet></router-outlet>
  </div>
  <app-latestmovies *ngIf="ishomepage"></app-latestmovies>
</div>