<div class="errormsg" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="latestfour" *ngIf="movies.length!==0">
    <h1 class="latestmovies">Latest Movies</h1>
    <div class="row">
        <div class="col" *ngFor="let movie of movies ">
          <mat-card class="movie-card">
          <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{movie.info.image_url}} class="searchimg" routerLink="/details/{{movie.title}}"  alt={{movie.title}}>
          
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>