  .movie-card {
    max-width: 300px;
    padding: 2px;
    margin:2px;
    cursor: pointer;
  }

  .latestfour{
    margin: 10px;
  }

  .latestmovies{
    background-color: blue;
    color: white;
  }