/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .row{
    display:inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  .errormsg{
    padding:10px;
    color:white;
    background-color: lightcoral;
  }